---
import MainLayout from "../layout/MainLayout.astro";

const identity = {
  firstName: "Greg",
  country: "America",
  occupation: "Want to be a developer - designer - coder",
  hobbies: ["Drawing", "Record Collecting", "Coding"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

---

<MainLayout title="About">
  <h1 class="text-3xl font-bold mb-4">About Me</h1>
  <h2 class="text-xl text-gray-700 mb-2">... and my new Astro site!</h2>

  <p class="text-lg text-gray-700 mb-4">
    I am working through Astro's introductory tutorial. This is the second page
    on my website, and it's the first one I built myself!
  </p>

  <p class="text-lg text-gray-700">
    This site will update as I complete more of the tutorial, so keep checking
    back and see how my journey is going!
  </p>
</MainLayout>
