---
import MainLayout from "../layout/MainLayout.astro";
const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = "My Astro Learning Blog";
import BlogPost from "../components/BlogPost.astro";
---

<MainLayout title="Blog">
  <h1 class="text-3xl font-bold mb-4">{pageTitle}</h1>
  <p class="text-lg text-gray-700 mb-4">
    This is where I will post about my journey learning Astro.
  </p>
  <ul class="mb-4">
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</MainLayout>
